<div class="home_image_wrap text-center">

  <h1>Gather Web Page</br />Into Bindr.</h1>

  <p class="lead">ウェブ上の連載記事を集めて検索するサイト。</p>

</div>

<div class="home_search_wrap text-center">
  <%= form_tag(search_binders_path, method: :get) do %>
    <div class="input-group input-group-lg">
      <%= search_field_tag :q, '', placeholder: '連載記事を検索する..',
        class: 'form-control', value: params[:q], role: 'search', autofocus: true %>
      <span class="input-group-btn">
        <%= button_tag(type: 'submit', class: 'btn btn-default') do %>
          <%= fa_icon 'search' %>
        <% end %>
      </span>
    </div>
  <% end %>
</div>

<div class="home_tags_wrap text-center text-info">
  <h3>よく使われているタグ</h3>
  <% @tags.each do |tag_obj| %>
    <%= tag_link(tag_obj) %>
  <% end %>
</div>
