  <div class="row">
    <div class="col-sm-9">
      <h3>
        <%= link_to fa_icon('book') + ' ' + binder.title, binder_path(binder) %>
        <%= complete_tag(binder.complete) %>
      </h3>

      <p><%= binder.description %></p>

      <p>
        <% binder.tags.each do |tag_obj| %>
          <%= tag_link(tag_obj) %>
        <% end %>
      </p>

      <p class="text-info">
        <span>更新日時: <%= time_ago_in_words binder.updated_at %></span>
      </p>
    </div>

    <div class="col-sm-3">
      <dl>
        <dt><%= fa_icon 'smile-o' %>  登録者</dt>
        <dd><%= link_to binder.user.name, user_path(binder.user) %></dd>
      </dl>
      <dl>
        <dt><%= fa_icon 'line-chart' %> 閲覧数</dt>
        <dd><%= binder.view_count %></dd>
      </dl>

      <% if binder.user == current_user %>
        <p>
          <%= link_to '編集する', edit_binder_path(binder) %>
        </p>
      <% end %>
    </div>

  </div>

  <hr />
