<%= f.input :title, label: '連載タイトル', autofocus: true %>
<%= f.input :description, label: '説明' %>
<div class="form-gourp">
  <%= f.label :tag_list, 'タグ' %><br />
  <%= text_field_tag 'binder[tag_list]', @binder.tag_list.join(','),
    class: 'form-control' %>
</div>
<%= f.input :complete, label: '完結済' %>
