<% provide(:title, '連載記事一覧') %>

<div class="page-header">
  <h1>連載記事一覧</h1>
</div>

<% @binders.each do |binder| %>
  <div class="row">
    <div class="col-sm-9">
      <h2>
        <%= link_to binder.title, '#' %>
        <% if binder.complete? %>
          <small><span class="label label-success">完結済</span></small>
        <% else %>
          <small><span class="label label-warning">進行中</span></small>
        <% end %>
      </h2>

      <p class="lead"><%= binder.description %></p>

      <p>
        <% binder.tag_list.each do |tag| %>
          <span class="label label-info"><%= tag %></span>
        <% end %>
      </p>

      <p class="text-info">
        <span>更新日: <%= time_ago_in_words binder.updated_at %></span>
      </p>
    </div>

    <div class="col-sm-3">
      <dl>
        <dt>登録者</dt>
        <dd><%= binder.user.name %></dd>
      </dl>
      <dl>
        <dt>閲覧数</dt>
        <dd><%= binder.view_count %></dd>
      </dl>
    </div>

    <% if binder.user == current_user %>
      <button class="btn btn-default">
        <%= link_to '編集する', edit_binder_path(binder) %>
      </button>
    <% end %>
  </div>

  <hr />
<% end %>
