<% provide(:title, @title) %>

<% content_for :rss do %>
  <%= auto_discovery_link_tag(:rss, @rss_path) %>
<% end %>

<div class="page-header">
  <h1>
    <%= @title %>
    <small>
      <%= @binders_count %> 件
    </small>
  </h1>
</div>

<p>
  <%= link_to fa_icon('rss-square') + " #{@title}のRSS", @rss_path %>
</p>

<p class="text-info">
  <%= page_entries_info @binders %>
</p>

<% @binders.each do |binder| %>
  <%= render 'binder', binder: binder %>
<% end %>

<%= paginate @binders %>
