<% provide(:title, "#{@queries.join(" ")} の検索結果") %>

<% content_for :rss do %>
  <%= auto_discovery_link_tag(:rss, @rss_path) %>
<% end %>

<div class="page-header">
  <h1>
    <%= @queries.join(" ") %>
    の検索結果
  </h1>
</div>

<p>
  <%= link_to fa_icon('rss-square') + " #{@queries.join(" ")} の検索結果のRSS", @rss_path %>
</p>

<p class="text-info">
  <%= page_entries_info @binders %>
</p>

<% @binders.each do |binder| %>
  <%= render 'binder', binder: binder %>
<% end %>

<%= paginate @binders %>
