<div class="row">
  <div class="col-sm-3">
    <div class="page-header">
      <h3>ユーザー情報</h3>
    </div>

    <dl>
      <dt><%= fa_icon 'smile-o' %> ユーザー名</dt>
      <dd><%= @user.name %></dd>
    </dl>
    <dl>
      <dt><%= fa_icon 'files-o' %> 登録した連載数</dt>
      <dd><%= @binders_count %></dd>
    </dl>
  </div>

  <div class="col-sm-9">
    <div class="page-header">
      <h1>登録した連載</h1>
    </div>

    <p class="text-info">
      <%= page_entries_info @binders %>
    </p>

    <% @binders.each do |binder| %>
      <h3>
        <%= link_to(fa_icon('book') + ' ' + binder.title, binder_path(binder)) %>
        <%= complete_tag(binder.complete) %>
      </h3>

      <p><%= binder.description %></p>

      <p>
        <% binder.tags.each do |tag_obj| %>
          <%= tag_link(tag_obj) %>
        <% end %>
      </p>

      <p class="text-info">
        <span>更新日時: <%= time_ago_in_words binder.updated_at %></span>
        /
        <span>記事数: <%= binder.pages.count %></span>
        /
        <span>閲覧数: <%= binder.view_count %></span>
      </p>

      <% if binder.user == current_user %>
        <p>
          <%= link_to '編集する', edit_binder_path(binder), class: 'btn btn-default btn-sm' %>
        </p>
      <% end %>

      <hr />
    <% end %>

    <%= paginate @binders %>
  </div>
</div>
