<div class="row">
  <div class="col-sm-3">
    <div class="page-header">
      <h3>ユーザー情報</h3>
    </div>

    <dl>
      <dt>ユーザー名</dt>
      <dd><%= @user.name %></dd>
    </dl>
    <dl>
      <dt>投稿した記事数</dt>
      <dd><%= @binders.count %></dd>
    </dl>
  </div>

  <div class="col-sm-9">
    <div class="page-header">
      <h1>登録した連載記事</h1>
    </div>

    <% @binders.each do |binder| %>
      <h2>
        <%= link_to(binder.title, binder_path(binder)) %>
        <% if binder.complete? %>
          <small><span class="label label-success">完了済</span></small>
        <% else %>
          <small><span class="label label-warning">進行中</span></small>
        <% end %>
      </h2>

      <p class="lead"><%= binder.description %></p>

      <p>
        <% binder.tags.each do |tag_obj| %>
          <%= tag_link(tag_obj) %>
        <% end %>
      </p>

      <p class="text-info">
        <span>更新日時: <%= time_ago_in_words binder.updated_at %></span>
        /
        <span>閲覧数: <%= binder.view_count %></span>
      </p>

      <% if binder.user == current_user %>
        <p>
          <%= link_to '編集する', edit_binder_path(binder) %>
        </p>
      <% end %>

      <hr />
    <% end %>
  </div>
</div>
